@model QLNS.Models.TTBaoHiem

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="padding-left:150px;">Chỉnh Sửa Bảo Hiểm</h2>

@using (Html.BeginForm("Edit","TTBaoHiem",FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.IdBH)

        <div class="form-group">
            @Html.LabelFor(model => model.IdNV, "Nhân Viên", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("IdNV", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.IdNV, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TenBH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TenBH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenBH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TyLeBH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TyLeBH, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TyLeBH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*                @Html.EditorFor(model => model.NgayHL, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.NgayHL, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", @value = Model.NgayHL.Value.ToString("yyyy-MM-dd")})
                @Html.ValidationMessageFor(model => model.NgayHL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHetHL, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.NgayHetHL, new { htmlAttributes = new { @class = "form-control" } })*@
                @Html.TextBoxFor(model => model.NgayHetHL, "{0:yyyy-MM-dd}", new { type = "date", @class = "form-control", @value = Model.NgayHetHL.Value.ToString("yyyy-MM-dd") })
                @Html.ValidationMessageFor(model => model.NgayHetHL, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TienBH, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TienBH, new { htmlAttributes = new { @class = "form-control" , @disabled = "disabled" } })
                @Html.ValidationMessageFor(model => model.TienBH, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập Nhật" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Trở Lại", "Index")
</div>
